@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Sora:wght@100;200;300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Qarkine";
  src: url("./Fonts/QarkinePersonalUse-ZVvn3.woff") format("woff");
  /* Additional font properties can be added here, such as font-weight and font-style */
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #131313; /* Set a fallback background color */
  background-image: url("./assets/Property 1=Default (1).png");
  background-repeat: repeat; /* Set to repeat the image both horizontally and vertically */
  background-size: contain; /* Set the size of the background image to its original size */
}


.qarkine {
  font-family: "Qarkine", sans-serif;
}

.my-svg:hover svg path {
    fill: black; /* Change the fill color to black on hover */
    transition-timing-function: linear;
    transition-duration: 500ms;
  }

  .my-svg:hover svg .specific-path {
    fill: #DEC649;
    /* Add any other desired styles */
  }